.hero__search-form {
  position: absolute;
  bottom: -110px;
  z-index: 1250;
  width: 100%;
  @include media-breakpoint-down(md) {
    position: relative;
    bottom: auto;
    margin-top: 25px;
  }
  .container {
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }
  .search-form__form {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.33);
    // background-color: theme-color("primary");
    background-color: #1a191d; //#fff5f5

    height: fit-content;
    padding: 25px;
    border-radius: 7px;
    .row.last__row {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 101.9%;
        background-color: theme-color("primary");

        height: 4px;
        bottom: 0px;
        right: -0.9%;
        overflow-x: hidden;
      }

      @media screen and (max-width: 990px) {
        &:after {
          bottom: -10px;
        }
      }
    }
    .row {
      .form__item {
        margin-bottom: 15px;
      }
      .form__input {
        background-color: #444444;
        // background-color: theme-color("primary");
        box-shadow: inset 0px 0px 0px 30px rgba(0, 0, 0, 0.23);
        color: white;
        border-radius: 7px;
        border: none;
        font-size: 14px;
        height: 44px;
        transition: background-color 0.2s;
        &::placeholder {
          color: lightgray;
        }
        &:hover,
        &:focus {
          background-color: darken($color: theme-color("primary"), $amount: 5);
        }
      }
      .rdt {
        .rdtPicker {
          width: 100%;
          td {
            font-size: 14px;
          }
          .rdtActive {
            background-color: theme-color("primary");
          }
        }
      }
      .form__button {
        background-color: theme-color("primary");
        width: 100%;
        height: 44px;
        border-radius: 7px;
        font-size: 14px;
        .button__icon {
          margin-right: 3px;
        }
      }
      .alert__button {
        transition: 1s all;
        width: 100%;
        height: 34px;
        padding-top: 0px;
        border-radius: 7px;
        font-size: 20px;
        .button__icon {
          margin-right: 3px;
        }
      }
      .alert__on {
        //background-color: darkgreen;
        border: none;
      }
      .alert__clear {
        //background-color: darkblue;
        border: none;
      }
    }
    @media screen and (max-width: 990px) {
      .form__accordion {
        padding-top: 15px;
      }
    }
    @media screen and (min-width: 990px) {
      .form__accordion {
        padding-top: 5px;
      }
    }
    .form__accordion {
      .row {
        margin-bottom: 0;
      }
      .accordion__header {
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        margin-top: 5px;
        cursor: pointer;
        .header__icon {
          margin-left: 5px;
        }
      }
      .accordion__category__container {
        .accordion__category__option {
          margin-top: 15px;
          .category__header {
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 15px;
            transition: transform 1s ease;
            cursor: pointer;
            color: white;
            font-size: 14px;
          }

          .category__header--active {
            border-radius: 8px;
            background: theme-color("primary");
            transform: translate(5px, 0px);
          }
        }
      }

      .accordion__category {
        margin-top: 7px;
        .category__items-wrapper {
          margin-top: 7px;
          .items-wrapper__item {
            cursor: pointer;
            padding: 4px 9px;
            font-size: 13px;
            background-color: theme-color("primary");
            border-radius: 25px;
            font-weight: 600;
            color: white;
            box-shadow: inset 0px 0px 0px 30px rgba(0, 0, 0, 0.23);
            margin-right: 5px;
            transition: 0.2s all;
            user-select: none;
            &:hover {
              background-color: darken(
                $color: theme-color("primary"),
                $amount: 5
              );
            }
            input {
              opacity: 0;
              position: absolute;
            }
            .item__icon {
              font-size: 10px;
              margin-right: 3px;
            }
          }
          .items-wrapper__item--active {
            background-color: white;
            box-shadow: none;
            color: theme-color("primary");
            &:hover {
              background-color: darken($color: white, $amount: 10);
            }
          }
        }
      }
      .accordion__right {
        .right__header {
          margin-top: 15px;
          color: white;
          font-size: 14px;
        }
        .form__input {
          margin-top: 10px;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }
      }

      .checkbox__container {
        transition: 1s all;
        border: 2px #fff solid;
        border-radius: 10px;
        padding-top: 5px;
        margin-top: 15px;

        .filter {
          color: #fff;
          text-align: center;
          font-size: 14px;
          padding-bottom: 2px;
        }
        &.promote {
          border-color: theme-color("primary");
        }
        .checkbox__item {
          display: flex;
          justify-content: center;
          align-content: center;
        }
      }
    }
  }
}
