.blog__item__container {
  margin: 0% 20%;
  margin-bottom: 7%;

  @include media-breakpoint-down(md) {
    margin: 0% 2%;
    margin-bottom: 7%;
  }
  .blog__image__container {
    margin: 3% 17%;
    max-width: 100%;
    max-height: 100%;
    @include media-breakpoint-down(md) {
      margin: 3% 0%;
    }
    .blog__image {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }
  }

  .info__container {
    font-weight: 900;
    margin: 10px 15px;

    font-size: 14px;
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }

    .blog__creation__date {
      margin-right: 25px;
    }
  }
  .blog__icon {
    color: theme-color("primary");
    font-size: 18px;
  }
  .photograph__author {
    color: lightgray;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: 900;
    margin: 10px 15px;
    transition: all 0.75s;
    .photography {
      transition: all 0.75s;
      margin-right: 10px;
      color: lightgray;
    }
    &:hover {
      cursor: pointer;
      transition: all 0.75s;
      color: black;
      .photography {
        transition: all 0.75s;
        color: theme-color("primary");
      }
    }
  }
}
