.profile-container {
  width: 100%;
  padding: 0 10%;
  @include media-breakpoint-down(md) {
    padding: 0px;
    margin: 0px;
  }
  @import "../components/pages/profile/Details";
  @import "../components/pages/profile/Overview";
}

@import "../components/pages/profile/Curriculam_Vitaes";
@import "../components/pages/profile/Job_Applicants";
