.carousel__modal {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.67s all;
  .modalHeader {
    position: absolute;
    right: 0px;
    z-index: 99999999;
    width: 100%;
    border: none;
    button.close {
      font-size: 2rem;
      position: relative;
      right: 25px;
      top: 5px;
      color: black;
    }
  }
  .information__cover {
    width: 100% !important;
    height: 90vh !important;

    .carousel-with-custom-dots {
      height: 100% !important;
      .react-multi-carousel-track {
        height: 100% !important;
        .cover__item {
          height: 100% !important;
          .item__image {
            height: 100% !important;
            width: 100% !important;
            object-fit: contain !important;
            border-radius: 15px !important;
          }
        }
      }
    }
  }
}

.real-estate-detail-container {
  margin-bottom: 30px;
  .preview__modal {
    margin: 0 2.5%;
  }

  .container-fluid {
    padding: 0px 15%;
    @include media-breakpoint-down(md) {
      padding: 0px 10%;
    }
    @include media-breakpoint-down(sm) {
      padding: 0px 5%;
    }
  }
  @import "../components/pages/real-estate-detail/HeaderMap";
  @import "../components/pages/real-estate-detail/Header";
  @import "../components/pages/real-estate-detail/RightSection";
  @import "../components/pages/real-estate-detail/LeftSection";
  @import "../components/pages/real-estate-detail/ExtraSection";
}
