.carousel__modal {
  .modalHeader.custom {
    position: absolute;
    right: 0px;
    z-index: 999;
    width: 100%;
    background: #ffffff05;
    border-radius: 15px;

    button.close {
      font-size: 2rem;
      position: relative;
      right: 25px;
      top: 5px;
      color: black;
    }
  }
  .modal-content {
    background: transparent;
    border: none;
  }
  .modal-body {
    padding: 0 0.5rem;
  }

  .information__cover {
    width: 100%;
    height: 500px;

    .carousel-with-custom-dots {
      height: 100%;
      .react-multi-carousel-track {
        height: 100%;
        .cover__item {
          height: 100%;
          .item__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

.real-estate-detail-container {
  margin-bottom: 30px;
  .preview__modal {
    margin: 0 2.5%;
  }

  .container-fluid {
    padding: 0px 15%;
    @include media-breakpoint-down(md) {
      padding: 0px 10%;
    }
    @include media-breakpoint-down(sm) {
      padding: 0px 5%;
    }
  }
  @import "../components/pages/real-estate-detail/HeaderMap";
  @import "../components/pages/real-estate-detail/Header";
  @import "../components/pages/real-estate-detail/RightSection";
  @import "../components/pages/real-estate-detail/LeftSection";
  @import "../components/pages/real-estate-detail/ExtraSection";
}
