.signin-container {
  height: 100% !important;
  width: 100%;
  position: absolute;
  z-index: 99999;
  .row {
    height: 100%;
  }

  .icon-wrapper {
    top: 20px;
    position: absolute;
    right: 20px;
    .button-icon-home {
      color: $white;
      padding: 0;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @import "../components/pages/signin/SigninForm";
  @import "../components/pages/signin/SigninImage";
}
