.right-content__profile {
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin-bottom: 30px;
  .profile__input {
    position: relative;
    .input__icon {
      position: absolute;
      top: 13px;
      left: 18px;
    }
    .input__text {
      padding-left: 45px;
    }
    .input__text.textarea {
      padding-top: 10px;
    }
  }
}

.right-content__delete-account {
  border-radius: 5px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.13);
}
.right-content__refferal-account {
  border-radius: 5px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
  .withdraw_button {
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
  }
  .referral__row {
    padding-top: 10px;
    padding-left: 25px;
  }
  .program {
    margin-bottom: 20px;
  }
}
