$dark-red: #a52a2a;
$complementary: #a5682a;
$dark-green: darkgreen;
$dark-blue: darkblue;
$dark-red-2: #431f1f;
$dark-red-3: #731d1d;
$hero-transparent: rgba(0, 0, 250, 0.15);
$dark-red-hover: #681a1a;
$dark-red-transparent: rgba(124, 32, 32, 0.1);
$black-text: #1f1f1f;
$gray-text: #707070;
$side-bar-width: 350px;
$main-content-width: calc(100% - #{$side-bar-width});
$main-header-height: 73px;
$main-header-height-mobile: 60px;
$bottom-navbar-height: 55px;
$gray-text-level-1: #adb5bd;
$white: #fff;
$color-shadow: rgba(0, 0, 0, 0.15);
$color-bd-button-social: #dee2e6;
$color-bg-button-social: #f8f9fc;
$home-color: rgba(47, 85, 212, 0.9);
$home-color-1: rgba(60, 72, 88, 0.7);
$footer-bg-color: #202942;
