.home-container__hero-section {
  width: 100%;
  height: 768px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hero-section__inner-wrapper {
    z-index: 1;
    .inner-wrapper__heading {
      color: #fff;
      font-weight: 400;
      font-size: 54px;
      text-align: center;
    }
    .inner-wrapper__description {
      opacity: 0.5;
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
    }
  }
}
