.footer-container {
  background: $footer-bg-color;
  position: relative;
  color: $gray-text-level-1;
  .footer-container__top {
    width: 100%;
    padding: 60px 0;
    .social__meadia {
      .top__button-social {
        .button-social__icon {
          border: 1px solid $gray-text-level-1;
          color: $gray-text-level-1;
          transition-duration: 0.5s;
          border-radius: 5px;
          width: 32px;
          height: 32px;
          text-align: center;
          line-height: 32px;
          &:hover {
            transition: 0.5s all;
            background-color: $home-color;
            transition-duration: 0.5s;
            cursor: pointer;
            .icon {
              color: $white;
              transition-duration: 0.5s;
            }
          }
          a {
            color: $gray-text-level-1;
          }
        }
      }
    }
    .top__list {
      li {
        padding-bottom: 10px;
      }
      .list__items {
        color: $gray-text-level-1;
        transition: 0.5 color;
        &:hover {
          cursor: pointer;
          color: $white;
          transition: 0.5 color;
          .icon {
            color: $white !important;
            transition: 0.5 color;
          }
        }
        .icon {
          margin-right: 10px;
          font-size: 13px;
          font-weight: 400;
          color: $gray-text-level-1 !important;
          transition: 0.5 color;
        }
      }
    }
    .top-form-contact {
      .form-contact__input {
        position: relative;
        .input__icon {
          position: absolute;
          top: 13px;
          left: 18px;
          font-size: 16px;
        }
        .input__text {
          padding-left: 45px;
          box-shadow: none;
          background-color: #27314f;
          border: 1px solid #27314f;
          border-radius: 5px;
          color: #f8f9fc !important;
        }
      }
    }
    .top-button-submit {
      background-color: rgba(255, 255, 255, 0.918);
      font-weight: 900;
      width: 100%;
      margin-top: 15px;
      &:hover {
        cursor: pointer;
        color: $white;
        transition: 0.5s color;
        background-color: theme-color("primary");
      }
    }
  }
  .footer-container__bottom {
    width: 100%;
    border-top: 1px solid #283353;
    padding: 30px 0;
  }
}
