.home-container__hero-section {
  padding: 260px 0;
  margin-top: -150px;
  @include media-breakpoint-down(md) {
    margin-top: -92px;
  }
  @include media-breakpoint-down(sm) {
    margin-top: -70px;
  }
  width: 100%;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  background-position: center center;
  background-color: theme-color("primary");
  background-image: url("https://placifull-static.s3.eu-central-1.amazonaws.com/enterprise.webp");
  .hero-section__bg-overlay {
    background-color: rgba(60, 72, 88, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .hero-section__content-hero {
    text-align: center;
    @include media-breakpoint-down(md) {
      margin-top: -2rem;
    }
    @include media-breakpoint-down(sm) {
      margin-top: -7rem;
    }
    .content-hero__heading {
      margin-left: -20px;
      margin-right: -20px;
      color: #fff;
      //margin-bottom: 1rem;
      font-weight: 677;
      font-size: 3rem;
      line-height: 1.2;
      @include media-breakpoint-down(md) {
        font-size: 2.5rem;
        padding: 0px 10px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2rem;
      }
      .heading__type-write {
        color: theme-color("primary");
      }
      .heading__type-write-cursor {
        font-weight: 700 !important;
        font-size: 50px !important;
        @include media-breakpoint-down(md) {
          font-size: 42px !important;
        }
        @include media-breakpoint-down(md) {
          font-size: 32px !important;
        }
        color: $white !important;
        animation: blink 0.7s steps(1) infinite;
      }
    }
    .content-hero__text {
      color: theme-color("primary");
      .container {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 25px 0px;
        @include media-breakpoint-down(md) {
          margin: 50px 0px;
        }
        .home__icons {
          padding: 15px;
          max-width: 133px;
          border-radius: 15px;
          background-color: rgba(255, 255, 255);
          transition: 0.75s ease;
          img {
            width: 75px;
            height: auto;
            @include media-breakpoint-down(md) {
              width: 50px;
              height: auto;
            }

            @include media-breakpoint-down(xs) {
              width: 40px;
              height: auto;
            }
          }
        }
        .hover__container {
          transition: 0.75s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          .hover__text {
            color: white;
            font-size: 20px;
            font-weight: 900;
            padding: 16px 20px;
            @include media-breakpoint-down(md) {
              font-size: 16px;
              font-weight: 800;
            }
            @include media-breakpoint-down(xs) {
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
        &:hover {
          cursor: pointer;
          .home__icons {
            background-color: rgba(0, 0, 0, 0.5);
            transition: 0.75s ease;
          }
          .hover__container {
            opacity: 1;
            .hover__text {
              opacity: 1;
            }
          }
        }
      }
    }
    .content-hero__button {
      margin-top: 30px;
      .button__icon {
        margin-bottom: 3px;
        font-size: 20px;
      }
    }
  }
}
.position-relative-top {
  position: relative !important;
  .shape-top {
    position: absolute;
    pointer-events: none;
    transform: scale(2);
    right: 0;
    bottom: -37px;
    left: 0;
    color: $white;
  }
}
