.home-container__transportation-section {
  margin-top: 100px;

  .transportation-section__Parentrow {
    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
  }
  .transportation-section-title {
    text-align: right;
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    .section-title__badge {
      border-radius: 12px;
      background-color: rgba(47, 85, 212, 0.1) !important;
      border: 1px solid rgba(47, 85, 212, 0.1) !important;
      display: inline-block;
      letter-spacing: 0.5px;
      padding: 4px 8px;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      color: $home-color !important;
      font-size: 11px;
    }
    .section-title__title {
      letter-spacing: 0.5px;
      margin: 16px 0px 24px 0px;
      font-size: 30px !important;
    }
    .section-title__button {
      margin-top: 1.5rem;
      width: 100px;
      box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
    }
  }

  .transportation-section__left {
    .left__slick-item {
      padding: 15px;
    }
    .featured__items__loading {
      text-align: center;
      padding: 200px 0px;
    }
  }
}
