.signin-form-container {
  height: 100%;
  padding: auto 0px;
  background-color: #fff;
  .signin-form__content {
    height: 100%;
    padding: 0px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media-breakpoint-down(md) {
      padding: 0px 5%;
    }
    .content__wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include media-breakpoint-down(md) {
        max-width: 400px;
      }
      .wrapper__items {
        .items__input {
          position: relative;
          .input__icon {
            position: absolute;
            top: 13px;
            left: 18px;
          }
          .input__text {
            padding-left: 45px;
          }
        }
      }

      .items__button-social {
        border: 1px solid $color-bd-button-social !important;
        background-color: $color-bg-button-social !important;
        width: 120px;
        opacity: 0.9;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        &:hover {
          opacity: 1;
          color: theme-color("secondary");
        }
        .button-social {
          margin-right: 10px;
        }
        .button-social--facebook {
          color: #4267b2;
        }
      }
    }
  }
  .container {
    margin-top: 5px;
    .confirm__email {
      font-size: 12px;
      padding: 5px;
      color: black;
      &:hover {
        background-color: theme-color("primary");
        color: #fff;
        border-radius: 10px;
      }
    }
  }
}
