.job-container__extra {
  margin-top: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 25px;
  text-align: center;
  .list-items__loading {
    text-align: center;
    padding: 200px 0px;
    padding-top: 30px;
  }
  .table__overflow {
    margin-top: 25px;
    overflow-x: auto;
    .extra__heading {
      padding-top: 25px;
      padding-bottom: 25px;
      margin-bottom: 15px;
      color: #1f1f1f;
      font-size: 20px;
      font-weight: 600;
    }
    .table__Listing {
      overflow-x: auto;
      width: 100%;

      td {
        border: 1px solid #ddd;
        padding: 8px;
      }
      th {
        border: 1px solid #ddd;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #343a40;
        color: white;
      }
      tr:nth-child(even) {
        background-color: #f5f5f5;
      }
      .standalone__row {
        &:hover {
          cursor: pointer;
          color: brown;
        }
      }

      .first__col__row {
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-radius: 20px 0 0 0;
      }

      .last__col__row {
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        border-radius: 0 20px 0 0;
      }
    }
  }
}
