.custom__preview_modal {
  width: 90vw; /* Occupy the 90% of the screen width */
  max-width: 90vw;
}
.submit-container__form {
  max-width: 950px;

  .social__section {
    border-radius: 0px !important;
    h4.section-heading {
      margin-top: 25px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        border-top: 2px solid #ebedf0;
        border-radius: 0px;
        width: 100%;
        height: 2px;
        bottom: 50px;
      }
    }
  }

  .contactHour__section {
    border-radius: 0px !important;
    h4.section-heading {
      margin-top: 25px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        border-top: 2px solid #ebedf0;
        border-radius: 0px;
        width: 100%;
        height: 2px;
        bottom: 50px;
      }
    }
  }
  .form__section {
    background-color: white;
    border-top-left-radius: 0px;
    padding: 20px 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .datetime {
      border: 1px solid rgba(0, 0, 0, 0.1);
      //box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      border-radius: 7px;
      background-color: white;
      padding: 19px 19px;
      min-height: 50px;
      width: 100%;
      &:hover {
        border: 1px solid #9ea1a7;
      }
      &:focus {
        border: 1px solid theme-color("primary");
      }
    }

    .form-group {
      margin-bottom: 0.5rem;

      .desc__textarea {
        textarea {
          background-color: white;
        }

        .form-control-container {
          .form-control {
            border-radius: 10px;
          }
          input[type="text"],
          input[type="number"] {
            background-color: white;
          }
        }
        .form-control-container--has-prepend {
          .form-control {
            border-radius: 0px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        .input-group-prepend {
          .Dropdown-root {
            .Dropdown-control {
              background-color: white;
              padding: 14px 20px 11px 10px;
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }
        }

        .form-control-container--has-append {
          .form-control {
            border-radius: 0px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
        }

        .input-group-append {
          .Dropdown-root {
            .Dropdown-control {
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              background-color: white;
              padding: 14px 20px 11px 10px;
            }
          }
        }
        .input-group-append {
          .areaMeasurement {
            .Dropdown-placeholder {
              &::after {
                content: "2";
                font-size: 10px;
                vertical-align: super;
              }
            }
          }
        }
      }
    }

    .row {
      align-items: baseline;
      > div {
        padding-left: 7px;
        padding-right: 7px;
      }
    }
    .section-heading {
      margin-bottom: 16px;
      color: #000000;
      font-weight: 700;
      .section__heading-tip {
        font-size: 12px;
        color: gray;
      }
    }
    .section__tabs-navbar {
      margin-bottom: 20px;
      background-color: transparent;

      .nav-link {
        background-color: transparent;
        border-bottom: 2px solid #ebedf0;

        &.active {
          border: 2px solid #ebedf0;
          border-bottom: 0;
        }
      }
    }
    .tabs__wrapper {
      .no__features {
        padding: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: theme-color("primary");
        font-weight: 700;
        font-size: larger;
      }
      .phone__input__field {
        border-radius: 50px;
      }
      .wrapper__map {
        height: 400px;
        width: 100%;
        margin-bottom: 10px;
      }
      .wrapper__category {
        .category__header {
          color: theme-color("primary");
          margin-bottom: 10px;
          font-weight: 700;
          padding-left: 8px;
        }
        .category__items-wrapper {
          border-bottom: 2px solid #ebedf0;
          padding: 8px 0px;
          .items-wrapper__item {
            cursor: pointer;
            padding: 4px 9px;
            font-size: 13px;
            border-radius: 30px;
            font-weight: 600;
            color: #7d7d7d;
            margin-right: 5px;
            transition: 0.2s all;
            user-select: none;
            &:hover {
              color: theme-color("primary");
            }
            input {
              opacity: 0;
              position: absolute;
            }
            span.item__icon {
              display: inline-block;
              position: relative;
              top: 2px;
            }
            .item__icon {
              font-size: 15px;
              margin-right: 3px;
              border-radius: 100%;
              border: 1px solid #cdcfd4;
              width: 15px;
              height: 15px;
              padding: 2px;
            }
          }
          .items-wrapper__item--active {
            .item__icon {
              border: 0px;
              color: white;
              background-color: theme-color("primary");
            }
            &:hover {
              color: white;
              background-color: darken(
                $color: theme-color("primary"),
                $amount: 8
              );
            }
          }
        }
      }
    }
    .section__accordion {
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      .accordion__header {
        padding: 15px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
        .header__left {
          display: flex;
          align-items: center;
          font-size: 14.5px;
          font-weight: 600;
          color: #7b7b7b;
          .left__icon {
            font-size: 20px;
            color: theme-color("primary");
            margin-right: 10px;
          }
        }
        .header__icon {
          font-size: 14px;
          color: theme-color("primary");
        }
      }

      .collapse,
      .collapsing {
        padding: 15px 30px;
        .accordion__day-label {
          height: 100%;
          display: flex;
          align-items: baseline;
          font-size: 15px;
          font-weight: 600;
          padding-top: 10px;
        }
        .rdtPicker {
          min-width: auto !important;
          width: 100%;
        }
      }
    }
    .section__dropzone {
      height: 150px;
      display: grid;
      place-items: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 2px dashed theme-color("primary");
      transition: 0.2s all;
      background-color: rgba(0, 0, 0, 0.05);
      .dropzone__text {
        color: #7b7b7b;
        font-weight: 600;
        font-size: 13px;
      }

      .dropzone__icon {
        svg {
          color: theme-color("primary");
          font-size: 45px;
        }
      }
      &:hover {
        border: 2px dashed theme-color("primary");
      }
    }
    .form-control {
      font-size: 15px;
    }
  }
  .form__button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background: white;
    padding-bottom: 80px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 10px;
    .button-container__buttonOutline {
      text-transform: uppercase;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 600;
      padding: 12px 40px;
      margin-right: 10px;
      &:focus {
        border: none;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
    .button-container__button {
      text-transform: uppercase;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 600;
      padding: 12px 40px;
      border: none;

      margin-right: 10px;
      &:focus {
        border: none;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}

.react-tel-input {
  .form-control {
    width: 100%;
    height: 48px;
  }
}

.dropzone-thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  .dropzone-thumbnail-container__thumb {
    display: inline-flex;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;
    position: relative;
    .thumb__inner {
      display: flex;
      min-width: 0;
      overflow: hidden;
      .inner__image {
        display: block;
        width: auto;
        height: 100%;
      }
      .inner__remove {
        top: -10px;
        right: 0px;
        position: absolute;
        color: #d82323;
        cursor: pointer;
      }
    }
  }
}
.job__dropzone-thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  .dropzone-thumbnail-container__thumb {
    display: inline-flex;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: auto;
    height: 200px;
    padding: 4px;
    box-sizing: border-box;
    position: relative;
    .thumb__inner {
      display: flex;
      min-width: 0;
      overflow: hidden;
      .inner__image {
        display: block;
        width: auto;
        height: 100%;
      }
      .inner__remove {
        top: -10px;
        right: 0px;
        position: absolute;
        color: #d82323;
        cursor: pointer;
      }
    }
  }
}
