.job-item-card {
  background-color: $dark-red-3;
  width: 480px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  .job-item-card__price-tag {
    height: 30px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -6px;
    top: 5px;
    z-index: 1;
    font-size: 14px;
    color: #fff;
    font-weight: 900;
    border-radius: 0px 5px 0px 5px;
    background-color: $dark-green;
    padding: 5px;
    &::after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 0;
      border-color: #ababab transparent transparent transparent;
      content: "";
      position: absolute;
      bottom: -6px;
      right: 0;
    }
  }
  .job-item-card__image-cover {
    height: 220px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    &::after {
      opacity: 0.5;
      background: linear-gradient(to bottom, transparent 0%, black 100%);
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
    }
    .image-cover__name-address {
      position: absolute;
      bottom: 20px;
      left: 20px;
      z-index: 1;
      .name-address__address {
        border: 1px solid #fff;
        color: #fff;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        font-size: 9px;
        text-transform: uppercase;
        font-weight: 800;
        border-radius: 5px;
        padding: 3px 5px;
        width: fit-content;
      }
      .name-address__name {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 2px;
        margin-top: 5px;
      }
    }
  }
  .job-item-card__information {
    height: 80px;
    padding: 7px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .information__upper-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .upper-item__wrapper {
        display: flex;
        align-items: center;
        color: white;
        .wrapper__icon {
          margin-right: 7px;
        }
        .wrapper__text {
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
    .inforamtion__bottom-item {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .bottom-item__ratings {
        display: flex;
        align-items: baseline;
        .ratings__icon {
          color: white;
          font-size: 12px;
        }
        .rattings__count {
          margin-left: 10px;
          font-size: 12px;
          opacity: 0.8;
          color: white;
        }
      }
      .bottom-item__tag {
        border: white;
        border-width: 2px;
        border-style: solid;
        border-radius: 15px;
        padding: 0 10px;
        color: White;
        font-size: 14px;
      }
    }
  }
}
