.add_button {
  margin: auto;
  text-align: center;
  font-size: 50px;
  color: brown;
  &:hover {
    transition: 0.5s all;
    font-size: 55px;
    color: darken($color: brown, $amount: 8);
    cursor: pointer;
  }
}
