.mandatory__field {
  color: red;
}

.superscript {
  color: red;
}

.decorator__container {
  .form-group {
    margin-bottom: 0.7rem;
    position: relative;
    > svg {
      position: absolute;
      z-index: 99;
      right: 10px;
      top: 30%;
      font-size: 23px;
      color: theme-color("primary");
    }
  }
}
.form-control-container {
  position: relative;
  .max__length__counter {
    position: absolute;
    right: 7px;
    bottom: 0px;
    font-size: 11px;
    color: lightgray;
    font-weight: 700;
  }
}
.modal {
  z-index: 9999 !important;
}
