.mandatory__field {
  color: red;
}

.superscript {
  color: red;
}

.decorator__container {
  .form-group {
    margin-bottom: 0.7rem;
    position: relative;
    > svg {
      position: absolute;
      z-index: 99;
      right: 10px;
      top: 30%;
      font-size: 23px;
      color: theme-color("primary");
    }
  }
}

.firstInput {
  position: relative;
}

.firstInput {
  &::after {
    content: "/";
    font-size: 48px;
    font-weight: 800;
    position: absolute;
    left: 100%;
    top: 20%;
    height: 100%;
    transform: translateX(-50%);
    font-size: 18px;
  }
}
.form-control-container {
  position: relative;
  .max__length__counter {
    position: absolute;
    right: 7px;
    bottom: 0px;
    font-size: 11px;
    color: lightgray;
    font-weight: 700;
  }
}
.modal {
  z-index: 9999 !important;
}

.badge-container {
  position: relative;
  .badge__item {
    padding-left: 5px;
  }
}

.rich__text {
  position: relative;
  .label {
    color: gray;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 15px 15px 0px 0px;
    border-bottom: none;
  }
  .max__length__counter {
    position: absolute;
    right: 15px;
    bottom: 0px;
    font-size: 11px;
    color: lightgray;
    font-weight: 700;
  }
}

.color__modal {
  display: flex;
  justify-content: center;

  .modal__body {
    display: flex;
    justify-content: center;
  }
  .modal__footer {
    display: flex;
    justify-content: center;
    button {
      padding: 5px 20px;
      margin: 0px 15px;

      svg {
        font-size: 20px;
        font-weight: 900;
        color: #fff;
      }
    }
  }
}

.social__Links {
  display: flex;
  justify-content: space-around;
  padding-bottom: 12px;
  .social__network {
    width: 33px;
    height: 33px;
    padding-top: 3px;
    border: 1px solid theme-color("primary");
    border-radius: 7px;
    font-size: 15px;
    &:hover {
      cursor: pointer;
      color: darkgreen;
      border: 1px solid darkgreen;
      transition-duration: 0.75s;
      svg {
        color: darkgreen;
      }
    }
  }
}
