.toggle__nav {
  display: flex;
  .option__item {
    background-color: #ffffff;
    border-radius: 5px;
    color: #777777;
    &:hover {
      cursor: pointer;
    }
  }

  .toggle__option {
    .nav-link {
      transition: all 0.25s ease;
      &:hover {
        background: theme-color("primary");
        color: white;
        padding: 0.49rem 1rem;
        border-radius: 10px;
      }

      &.active {
        background: theme-color("primary");
        color: white;
        padding: 0.49rem 1rem;
        border-radius: 10px;
        &:hover {
          background: theme-color("secondary");
          color: white;
        }
      }
    }
  }
}
