.real-estate-container__header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  .listing__route {
    span {
      color: #808080;
    }
  }
  .__left {
    .view_labels {
      display: flex;
      margin-top: 12px;
      justify-content: space-evenly;
      padding: 0px 0px 0px 10px;
      @include media-breakpoint-down(md) {
        justify-content: flex-start;
      }

      .date__ago {
        font-weight: 600;
        color: #666;
        font-size: 13px;
        line-height: 21px;
        svg {
          color: darken($color: theme-color("primary"), $amount: 10);
          font-size: 18px;
          margin: 0 1px;
          font-weight: 900;
        }
      }

      .views {
        font-weight: 600;
        color: #666;
        font-size: 14px;
        svg {
          color: darken($color: theme-color("primary"), $amount: 10);
          font-size: 21px;
          margin: 0 1px;
        }
      }
      div {
        width: 100%;
        border-radius: 7px;
        color: white;
        padding: 1px 0px;
        text-align: center;
        &.__featured {
          background-color: #a52a2a;
        }
        &.__rent {
          background-color: #000000;
        }
      }
    }
    .listing__name {
      margin-top: 10px;
      font-weight: 800;
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }
  }
  .address__details {
    display: flex;
    margin-left: 1%;
    @include media-breakpoint-down(md) {
      justify-content: space-around;
    }
    svg {
      font-size: 18px;
      color: theme-color("primary");
      margin-right: 5px;
    }
    .listing__location {
      font-size: 16px;
      color: $black-text;
    }

    .floor__count {
      padding-left: 20px;
      @include media-breakpoint-down(md) {
        padding-left: 0px;
      }
      .wrapper__text {
        font-size: 15px;
      }
    }
  }
  .__right {
    margin-top: 40px;
    text-align: right;
    @include media-breakpoint-down(md) {
      margin-top: 0px;
      text-align: left;
    }
    .listing__popularity {
      display: flex;
      justify-content: space-around;
      @include media-breakpoint-down(md) {
        padding-top: 10px;
        .spinner__classs {
          padding: 0px 38px;
          margin: 0px;
        }
      }
      .ratings {
        .real-estate-item-card__ratings {
          color: gold;
          z-index: 2;
          margin-left: 15px;
          font-size: 17px;
          transition: 0.5s all;
        }
        .rating__value {
          padding-left: 5px;
          font-weight: 600;
          color: #666;
          font-size: 13px;
          line-height: 21px;
        }
      }
      .popularity__icons {
        flex: 0.17 1;
        font-weight: 600;
        color: darken($color: theme-color("primary"), $amount: 7);
        border: 1px solid #e8e8e8;
        text-align: center;
        padding: 2px 5px;
        border-radius: 4px;
        transition: 0.75s color;
        transition: background-color 0.75s;
        &:hover {
          cursor: pointer;
          background-color: darken($color: theme-color("primary"), $amount: 15);
          color: #e8e8e8;
          border: 1px solid darken($color: theme-color("primary"), $amount: 7);
        }

        &.flagged {
          transition: 0.75s color;
          transition: background-color 0.75s;
          padding: 2px 5px;
          cursor: pointer;
          background-color: darken($color: theme-color("primary"), $amount: 15);
          color: #e8e8e8;
          border: 1px solid darken($color: theme-color("primary"), $amount: 7);

          &:hover {
            cursor: pointer;
            background-color: #e8e8e8;
            color: darken($color: theme-color("primary"), $amount: 7);
            border: 1px solid #e8e8e8;
          }
        }
      }

      .left__label {
        div {
          width: 100%;
          border-radius: 7px;
          color: white;
          padding: 1px 0px;
          text-align: center;
          &.__featured {
            background-color: darken(
              $color: theme-color("primary"),
              $amount: 15
            );
          }
          &.__rent {
            background-color: #000000;
          }
        }
      }
    }
    .listing__price {
      margin-top: 35px;
      text-align: center;
      font-weight: 800;
      font-size: 32px;
      padding: 5px;
      color: #229954;
      border: 2px solid #229954;
      border-radius: 15px 0px;
    }
  }
}
