.hero__map {
  height: 100%;
  width: 100%;
  @include media-breakpoint-down(md) {
    height: 300px;
  }
  .leaflet-popup {
    .leaflet-popup-content-wrapper {
      .leaflet-popup-content {
        margin: 0px !important;
        width: 211px !important;
        .leaflet-popup-content__image {
          height: 100px;
          width: 211px;
          .cover__carousel-container {
            height: 100%;
            .react-multi-carousel-track {
              height: 100%;
              .cover__item {
                height: 100%;
                .item__image {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
            .react-multiple-carousel__arrow--right {
              color: theme-color("primary") !important;
            }
            .react-multiple-carousel__arrow--left {
              color: theme-color("primary") !important;
            }
            .react-multiple-carousel__arrow {
              min-height: 20px !important;
              min-width: 20px !important;
            }
            .react-multiple-carousel__arrow::before {
              font-size: 10px !important;
            }
          }
        }
        .leaflet-popup-content__real-estate-card {
          .real-estate-card__information {
            height: 100px;
            padding: 10px 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .information__name {
              font-weight: 600;
              font-size: 15px;
              color: black;
              &:hover {
                color: theme-color("primary");
              }
            }
            .information__upper-real-estate {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .upper-real-estate__wrapper {
                display: flex;
                align-items: center;
                color: #726262;
                .wrapper__icon {
                  margin-right: 7px;
                }
                .wrapper__text {
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }
            .information__bottom-real-estate {
              margin-top: 5px;
              margin-bottom: 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .real-estate-card__ratings {
                position: absolute;
                color: gold;
                z-index: 2;
                left: 20px;
              }
              .real-estate-card__count {
                font-size: 12px;
                color: theme-color("primary");
                position: absolute;
                right: 20px;
                z-index: 2;
                .viewed__icon {
                  margin-right: 3px;
                  margin-bottom: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}
