.image-container {
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #fff5f4;
  @include media-breakpoint-down(md) {
    display: none;
  }
  .image {
    display: flex;
    overflow: hidden;
    background-position: center;
    justify-content: center;
    align-content: center;
    padding: 57px 0px;
    .email__confirmed__background {
      width: 75%;
      height: 75%;
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }
}
